* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:not(i) {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    vertical-align: middle;
    max-width: 100%;
}

body {
    font-size: 16px;
    line-height: 1.5;
    overflow-x: hidden;
    background-color: var(--bg-black-50);
}

/*---------- GOBAL STYLE ------------*/

:root {
    --bg-black-900: #000000;
    --bg-black-100: #dddddd;
    --bg-black-50: #E6E7EE;
    --bg-opacity: rgba(255, 255, 255, 0.5);
    --text-black-900: #000000;
    --text-black-700: #555555;
    --text-black-600: #666666;
    --text-black-300: #bbbbbb;
    --outer-shadow: 3px 3px 3px #d0d0d0, -3px -3px 3px #f8f8f8;
    --outer-shadow-0: 0 0 0 #d0d0d0, 0 0 0 #f8f8f8;
    --inner-shadow: inset 3px 3px 3px #d0d0d0, inset -3px -3px 3px #f8f8f8;
    --inner-shadow-0: inset 0 0 0 #d0d0d0, inset 0 0 0 #f8f8f8;
    --box-shadow: 0px 1px 10px 0px rgba(180, 180, 180, 0.5);
}

body.dark {
    --bg-black-900: #ffffff;
    --bg-black-100: #353535;
    --bg-black-50: #2b2c2f;
    --bg-opacity: rgba(43, 44, 47, 0.5);
    --text-black-900: #ffffff;
    --text-black-700: #ffffff;
    --text-black-600: #bbbbbb;
    --outer-shadow: 3px 3px 3px #222327, -3px -3px 3px #363636;
    --outer-shadow-0: 0 0 0 #222327, 0 0 0 #363636;
    --inner-shadow: inset 3px 3px 3px #222327, inset -3px -3px 3px #363636;
    --inner-shadow-0: inset 0 0 0 #222327, inset 0 0 0 #363636;
    --box-shadow: 0px 1px 10px 0px rgba(65, 65, 65, 0.5);

}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    box-shadow: var(--inner-shadow);
}

::-webkit-scrollbar-thumb {
    background-color: var(--skin-color);
}

.container {
    max-width: 1140px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.outer-shadow {
    box-shadow: var(--outer-shadow);
}

.inner-shadow {
    box-shadow: var(--inner-shadow);
}

.hover-in-shadow {
    position: relative;
    z-index: 1;
}

.hover-in-shadow:hover {
    box-shadow: var(--outer-shadow-0);
}

.hover-in-shadow::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transition: all 0.3s ease;
    z-index: -1;
}

.hover-in-shadow:hover::after {
    box-shadow: var(--inner-shadow);
}
.align-items-center {
    align-items: center;
}

.btn-1 {
    padding: 10px 25px;
    font-size: 17px;
    font-weight: 500;
    color: var(--skin-color);
    background: transparent;
    line-height: 1.5;
    cursor: pointer;
    border-radius: 30px;
    transition: all 0.3s ease;
    display: inline-block;
    border: none;
}
.btn-1::after {
    border-radius: 30px;
}

.about {
    margin-top: 100px;
    padding: 0px 15px;
}
/* SCROLL-UP */
.scroll-up-btn{
    position: fixed;
    width: 40px;
    height: 40px;
    right: 20px;
    bottom: 10px;
    line-height: 40px;
    border-radius: 50%;
    color: var(--skin-color);
    text-align: center;
    font-size: 25px;
    pointer-events: none;
    cursor: pointer;
    z-index: 99999;
    opacity: 0;
    border-bottom-width: 2px;
}
.scroll-up-btn::after {
    border-radius: 50%;
}
.scroll-up-btn.show{
    opacity: 1;
    pointer-events: auto;
    bottom: 30px;
}


/* HEADER */
.header {
    padding: 20px 15px;
    position: absolute;
    width: 100%;
    left: 0;
    left: 0;
    z-index: 99;
}
.header .justify-content-bwt {
    justify-content: space-between;
}
.header .logo a {
    display: inline-block;
    text-align: center;
    line-height: 36px;
    height: 40px;
    width: 40px;
    font-size: 24px;
    color: var(--skin-color);
    border: 2px solid var(--skin-color);
    border-radius: 50%;
    font-weight: 600;
    text-transform: uppercase;
}

.header .hamburger-btn {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s ease;
}

.header .hamburger-btn::after {
    border-radius: 50%;
}

.header .hamburger-btn span {
    display: block;
    width: 16px;
    height: 2px;
    background-color: var(--bg-black-900);
    position: relative;
}

.header .hamburger-btn span::before,
.header .hamburger-btn span::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--bg-black-900);
}

.header .hamburger-btn span::before {
    top: -6px;
}

.header .hamburger-btn span::after {
    top: 6px;
}

/* END OF HEADER */

/* NAVIGATION */
.nav-menu {
    position: fixed;
    background-color: var(--bg-black-50);
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0;
    visibility: hidden;
    overflow-y: auto;
}

.nav-menu.open {
    visibility: visible;
    opacity: 1;
    z-index: 999;
    transition: all 0.3s ease;
}

.nav-menu .close-nav-menu {
    height: 40px;
    width: 40px;
    display: block;
    font-size: 35px;
    line-height: 35px;
    border-radius: 50%;
    position: absolute;
    right: 112px;
    top: 20px;
    cursor: pointer;
    text-align: center;
    color: var(--text-black-600);
}

.nav-menu .close-nav-menu::after {
    border-radius: 50%;
}

.nav-menu-inner {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-menu ul {
    padding: 15px;
}

.nav-menu ul li {
    display: block;
    margin-bottom: 20px;
    text-align: center;
}

.nav-menu ul li:last-child {
    margin-bottom: 0;
}

.nav-menu ul li a {
    display: inline-block;
    font-size: 20px;
    font-weight: 600;
    color: var(--text-black-600);
    padding: 5px 30px;
    border-radius: 30px;
    transition: all 0.3s ease;
}

.nav-menu ul li a::after {
    border-radius: 30px;
}

.nav-menu ul li a.active {
    color: var(--skin-color);
}

.nav-menu .copyright-text {
    position: absolute;
    left: -100px;
    top: 50%;
    font-size: 15px;
    color: var(--text-black-600);
    transform: translateY(-50%) rotate(-90deg);
    font-weight: 500;
}

.copyright-text a {
    color: var(--skin-color);
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 500;
}

.fade-out-effect {
    position: fixed;
    left: 0;
    top: 0;
    background-color: var(--bg-black-50);
    width: 100%;
    height: 100%;
    z-index: -1;
    visibility: hidden;
}

.fade-out-effect.active {
    visibility: visible;
    z-index: 1000;
    animation: fadeOut 0.3s ease;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

/* END OF NAVIGATION */


/* ABOUT-1 */
.about-1-content {
    padding: 100px 250px 0 250px;
    text-align: center;
}
.about-1-content h2{
    font-size: 30px;
    font-weight: 600;
    color:var(--text-black-900);
}
.about-1-content p {
    padding: 10px 0px;
    line-height: 22px;
    font-size: 16px;
    font-weight: 500;
    color: var(--text-black-600);
}
@media(max-width:600px){
    .about-1-content {
        padding: 100px 20px;
    }
}
/* END OF ABOUT-1 */


/* ABOUT-2 */
.about-2 {
    text-align: center;
}
.about-2 .about-2-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 20px;
}
.about-2 .about-2BX-1 {
    padding: 20px 10px;
}
.about-2 .about-2BX-1 i {
    color: var(--skin-color);
    border-radius: 50%;
    padding: 10px;
    font-size: 20px;
}
.about-2BX-1 h2 {
    color: var(--text-black-900);
    font-size: 25px;
    font-weight: 600;
    padding: 10px 0px;
}
.about-2BX-1 p {
    color: var(--text-black-600);
    line-height: 22px;
    font-size: 16px;
    font-weight: 500;
}
.about-2BX-1:hover i {
    box-shadow: var(--outer-shadow);
}
@media(max-width:600px){
    .about-2 {
        padding: 0 20px;
    }
    .about-2 .about-2-grid {
        grid-template-columns: repeat(1,1fr);
        grid-row-gap: 20px;
    }
}
/* END OF ABOUT-2 */

/* ABOUT-3 */
.about-3 .about-3-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 20px;
}
.about-3 .about-3-Bx1 {
   max-width: 450px;
   display: block;
   margin: auto;
   padding: 15px;
}
.about-3 .about-3-Bx1 img{
   width: 100%;
   /* border-top-left-radius: 50%;
   border-bottom-right-radius: 50%; */
   border-radius: 53% 49% 34% 72% / 31% 44% 52% 66%;
   border: 10px solid transparent;
   box-shadow: var(--box-shadow);


}
.about-3 .about-3-Bx2 h2 {
    font-size: 35px;
    font-weight: 700;
    color: var(--text-black-900);
}
.about-3 .about-3-Bx2 p {
    font-size: 16px;
    font-weight: 500;
    color: var(--text-black-600);
    line-height: 22px;
    padding: 10px 0px;
}
.about-3 .about-3-Bx2 img {
   width: 150px;
   margin-top: 20px;
}
@media(max-width:600px){
    .about-3 .about-3-grid{
        grid-template-columns: 1fr;
    } 
}
/* END OF ABOUT-3 */

/* ABOUT-4 */
.about-4{
    text-align: center;
}
.about-4 .about-4-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.about-4 .about-4-Bx1 i {
    padding: 15px;
    border-radius: 50%;
    font-size: 23px;
    color: var(--skin-color);
}
.about-4 .about-4-Bx1 p {
    padding: 15px 0px 0px 0px;
    font-size: 16px;
    font-weight: 500;
    color: var(--text-black-600);
}
.about-4 .about-4-Bx1 h3 {
    font-size: 25px;
    color: var(--text-black-700);
}
@media(max-width:600px) {
    .about-4 .about-4-grid {
        grid-template-columns: 1fr;
        grid-row-gap: 20px;
    }
}
/* END OF ABOUT-4 */

/* ABOUT-5 */
.about-5 .about-5-title {
    font-size: 30px;
    font-weight: 700;
    padding: 40px 0px 80px 0px;
    color: var(--text-black-700);
    text-align: center;
    text-transform: capitalize;
}
.about-5 .timeline {
    flex: 0 0 100%;
    max-width: 100%;
    position: relative;
}
.about-5 .timeline::before {
    content: "";
    height: 100%;
    width: 1px;
    left: 50%;
    top: 0;
    background-color: var(--bg-black-100);
    position: absolute;
}
.about-5 .timeline {
    flex: 0 0 100%;
    max-width: 100%;
}
.about-5 .timeline .timeline-item {
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0 15px;
}
.about-5 .timeline .timeline-item:nth-child(odd){
    padding-right: calc(50% + 50px);
    text-align: right;
}
.about-5 .timeline .timeline-item:nth-child(even){
    padding-left: calc(50% + 50px);
}
.about-5 .timeline .timeline-item-inner {
    padding: 30px;
    border-radius: 5px;
    position: relative;
}
.about-5 .timeline .timeline-item-inner::before {
    content: "";
    position: absolute;
    width: 30px;
    height: 1px;
    background-color: var(--bg-black-100);
    top: 37px;
    z-index: -1;
}
.about-5 .timeline .timeline-item:nth-child(odd) .timeline-item-inner::before{
    right: -30px;
}
.about-5 .timeline .timeline-item:nth-child(even) .timeline-item-inner::before{
    left: -30px;
}
.about-5 .timeline .timeline-item-inner .icon {
    position: absolute;
    height: 40px;
    width: 40px;
    background: var(--bg-black-50);
    text-align: center;
    line-height: 40px;
    border: 1px solid var(--bg-black-100);
    border-radius: 50%;
    font-size: 16px;
    color: var(--skin-color);
    top: 18px;
}

.about-5 .timeline .timeline-item:nth-child(odd) .icon {
    right: -70px;
}
.about-5 .timeline .timeline-item:nth-child(even) .icon {
    left: -70px;
}
.about-5 .timeline .timeline-item-inner p {
    line-height: 22px;
    font-size: 16px;
    font-weight: 500;
    color: var(--text-black-600);
}
.about-5 .timeline .timeline-item-inner h2 {
    font-size: 25px;
    font-weight: 600;
    color: var(--text-black-900);
    padding-bottom: 15px;
}
.about-5 .timeline .timeline-item-inner .about-5-img1 {
    width: 130px;
    padding-top: 20px;
}
.about-5 .timeline .timeline-item-inner .about-5-img2 {
    width: 130px;
    padding-bottom: 10px ;
}
.about-5 .timeline .timeline-item-inner .about-5-img3 {
    width: 250px;
    padding-bottom: 10px;
}

@media(max-width:767px){
    .about-5 .timeline .timeline-item:nth-child(odd){
        padding-right: 15px;
        text-align: left;
        padding-left: 75px;
    }
    .about-5 .timeline .timeline-item:nth-child(even){
        padding-left: 75px;
    }
    .about-5 .timeline::before {
        left: 35px;
    }
    .about-5 .timeline .timeline-item:nth-child(odd) .icon{
        right: auto;
        left: -60px;
    }
    .about-5 .timeline .timeline-item:nth-child(even) .icon{
        left: -60px;
    }
    .about-5 .timeline .timeline-item{
        margin-bottom: 40px;
    }
    .about-5 .timeline .timeline-item:last-child{
        margin-bottom: 0;
    }
    .about-5 .timeline .timeline-item:nth-child(odd) .timeline-item-inner::before{
        left: -30px;
        right: auto;
    }

}
/* END OF ABOUT-5 */

/* ABOUT-6 */
.about-6 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.about-6 .about-6-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 50px;
}
.about-6 .about-6-Bx1 {
    padding: 40px;
}
.about-6 .about-6-Bx1 .inner-shadow{
    width: 130px;
    border-radius: 50%;
    padding: 10px;
    margin: auto;
}
.about-6 .about-6-Bx1 .inner-shadow img{
    width: 100%;
    border-radius: 50%;
    border: 2px solid transparent;
}
.about-6 .about-6-Bx1 h2{
    font-size: 25px;
    font-weight: 600;
    text-transform: capitalize;
    color: var(--text-black-700);
    padding: 10px 0px 2px 0px;
}
.about-6 .about-6-Bx1 p{
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
    color: var(--text-black-600);
}
.about-6 .about-6-Bx1 i{
    font-size: 16px;
    font-weight: 500;
    padding: 9px 6px;
    cursor: pointer;
}
.about-6 .about-6-Bx1 .fa-facebook-f {
    color: #4267b2;
}
.about-6 .about-6-Bx1 .fa-twitter {
    color: #1da1f2;
}
.about-6 .about-6-Bx1 .fa-dribbble {
    color: #ff3769 ;
}
@media(max-width:767px){
    .about-6 .about-6-grid {
        grid-template-columns: 1fr;
        grid-row-gap: 30px;
    }

}
/* END OF ABOUT-6 */


/* ABOUT-7 */
.about-7{
    margin-bottom: 20px;
}
.about-7 .about-7-content h2 {
    font-size: 25px;
    font-weight: 600;
    color: var(--text-black-700);
}
.about-7 .about-7-content p {
    font-size: 16px;
    font-weight: 500;
    color: var(--text-black-600);
    padding-bottom: 10px;
}
.about-7 form input {
    border: none;
    outline: none;
    padding: 10px 15px;
    width: 30%;
    font-size: 15px;
    font-weight: 500;
    border-radius: 6px;
    background: transparent;
    color: var(--text-black-900);
}
.about-7 form button {
    outline: none;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    font-weight: 500;
    margin-left: 50px;
    border-radius: 6px;
    cursor: pointer;
}
.about-7 form button::after {
    border-radius: 6px;
}
.about-7 .about-7-content .about-7-title {
    font-size: 16px;
    font-weight: 500;
    color: var(--text-black-600);
    padding-top: 20px;
}
.about-7 .about-7-content .about-7-title  span{
   color: var(--text-black-900);
   font-weight:500;
}

/* END OF ABOUT-7 */

/* ABOUT-3 */

/* END OF ABOUT-3 */
/* ABOUT-3 */
/* END OF ABOUT-3 */
/* ABOUT-3 */
/* END OF ABOUT-3 */
/* ABOUT-3 */
/* END OF ABOUT-3 */
/* ABOUT-3 */
/* END OF ABOUT-3 */