* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:not(i) {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    vertical-align: middle;
    max-width: 100%;
}

body {
    font-size: 16px;
    line-height: 1.5;
    overflow-x: hidden;
    background-color: var(--bg-black-50);
}

/*---------- GOBAL STYLE ------------*/

:root {
    --bg-black-900: #000000;
    --bg-black-100: #dddddd;
    --bg-black-50: #E6E7EE;
    --bg-opacity: rgba(255, 255, 255, 0.5);
    --text-black-900: #000000;
    --text-black-700: #555555;
    --text-black-600: #666666;
    --text-black-300: #bbbbbb;
    --outer-shadow: 3px 3px 3px #d0d0d0, -3px -3px 3px #f8f8f8;
    --outer-shadow-0: 0 0 0 #d0d0d0, 0 0 0 #f8f8f8;
    --inner-shadow: inset 3px 3px 3px #d0d0d0, inset -3px -3px 3px #f8f8f8;
    --inner-shadow-0: inset 0 0 0 #d0d0d0, inset 0 0 0 #f8f8f8;
    --box-shadow: 0px 1px 10px 0px rgba(180, 180, 180, 0.5);
}

body.dark {
    --bg-black-900: #ffffff;
    --bg-black-100: #353535;
    --bg-black-50: #2b2c2f;
    --bg-opacity: rgba(43, 44, 47, 0.5);
    --text-black-900: #ffffff;
    --text-black-700: #ffffff;
    --text-black-600: #bbbbbb;
    --outer-shadow: 3px 3px 3px #222327, -3px -3px 3px #363636;
    --outer-shadow-0: 0 0 0 #222327, 0 0 0 #363636;
    --inner-shadow: inset 3px 3px 3px #222327, inset -3px -3px 3px #363636;
    --inner-shadow-0: inset 0 0 0 #222327, inset 0 0 0 #363636;
    --box-shadow: 0px 1px 10px 0px rgba(65, 65, 65, 0.5);

}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    box-shadow: var(--inner-shadow);
}

::-webkit-scrollbar-thumb {
    background-color: var(--skin-color);
}

.container {
    max-width: 1140px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.outer-shadow {
    box-shadow: var(--outer-shadow);
}

.inner-shadow {
    box-shadow: var(--inner-shadow);
}

.hover-in-shadow {
    position: relative;
    z-index: 1;
}

.hover-in-shadow:hover {
    box-shadow: var(--outer-shadow-0);
}

.hover-in-shadow::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transition: all 0.3s ease;
    z-index: -1;
}

.hover-in-shadow:hover::after {
    box-shadow: var(--inner-shadow);
}

.align-items-center {
    align-items: center;
}

.btn-1 {
    padding: 10px 25px;
    font-size: 17px;
    font-weight: 500;
    color: var(--skin-color);
    background: transparent;
    line-height: 1.5;
    cursor: pointer;
    border-radius: 30px;
    transition: all 0.3s ease;
    display: inline-block;
    border: none;
}

.btn-1::after {
    border-radius: 30px;
}

.about {
    margin-top: 90px;
    padding: 0px 15px;
}


/* SCROLL-UP */
.scroll-up-btn {
    position: fixed;
    width: 40px;
    height: 40px;
    right: 20px;
    bottom: 10px;
    line-height: 40px;
    border-radius: 50%;
    color: var(--skin-color);
    text-align: center;
    font-size: 25px;
    pointer-events: none;
    cursor: pointer;
    z-index: 99999;
    opacity: 0;
    border-bottom-width: 2px;
}

.scroll-up-btn::after {
    border-radius: 50%;
}

.scroll-up-btn.show {
    opacity: 1;
    pointer-events: auto;
    bottom: 30px;
}


/* HEADER */
.header {
    padding: 20px 15px;
    position: absolute;
    width: 100%;
    left: 0;
    left: 0;
    z-index: 99;
}

.header .justify-content-bwt {
    justify-content: space-between;
}

.header .logo a {
    display: inline-block;
    text-align: center;
    line-height: 36px;
    height: 40px;
    width: 40px;
    font-size: 24px;
    color: var(--skin-color);
    border: 2px solid var(--skin-color);
    border-radius: 50%;
    font-weight: 600;
    text-transform: uppercase;
}

.header .hamburger-btn {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s ease;
}

.header .hamburger-btn::after {
    border-radius: 50%;
}

.header .hamburger-btn span {
    display: block;
    width: 16px;
    height: 2px;
    background-color: var(--bg-black-900);
    position: relative;
}

.header .hamburger-btn span::before,
.header .hamburger-btn span::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--bg-black-900);
}

.header .hamburger-btn span::before {
    top: -6px;
}

.header .hamburger-btn span::after {
    top: 6px;
}

/* END OF HEADER */

/* NAVIGATION */
.nav-menu {
    position: fixed;
    background-color: var(--bg-black-50);
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0;
    visibility: hidden;
    overflow-y: auto;
}

.nav-menu.open {
    visibility: visible;
    opacity: 1;
    z-index: 999;
    transition: all 0.3s ease;
}

.nav-menu .close-nav-menu {
    height: 40px;
    width: 40px;
    display: block;
    font-size: 35px;
    line-height: 35px;
    border-radius: 50%;
    position: absolute;
    right: 112px;
    top: 20px;
    cursor: pointer;
    text-align: center;
    color: var(--text-black-600);
}

.nav-menu .close-nav-menu::after {
    border-radius: 50%;
}

.nav-menu-inner {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-menu ul {
    padding: 15px;
}

.nav-menu ul li {
    display: block;
    margin-bottom: 20px;
    text-align: center;
}

.nav-menu ul li:last-child {
    margin-bottom: 0;
}

.nav-menu ul li a {
    display: inline-block;
    font-size: 20px;
    font-weight: 600;
    color: var(--text-black-600);
    padding: 5px 30px;
    border-radius: 30px;
    transition: all 0.3s ease;
}

.nav-menu ul li a::after {
    border-radius: 30px;
}

.nav-menu ul li a.active {
    color: var(--skin-color);
}

.nav-menu .copyright-text {
    position: absolute;
    left: -100px;
    top: 50%;
    font-size: 15px;
    color: var(--text-black-600);
    transform: translateY(-50%) rotate(-90deg);
    font-weight: 500;
}

.copyright-text a {
    color: var(--skin-color);
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 500;
}

.fade-out-effect {
    position: fixed;
    left: 0;
    top: 0;
    background-color: var(--bg-black-50);
    width: 100%;
    height: 100%;
    z-index: -1;
    visibility: hidden;
}

.fade-out-effect.active {
    visibility: visible;
    z-index: 1000;
    animation: fadeOut 0.3s ease;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

/* END OF NAVIGATION */

/* PRICE-CONTENT */
.price-content {
    padding-top: 100px;
    text-align: center;
}
.price-content h1 {
    color: var(--text-black-600);
    font-size: 30px;
    font-weight: 600;
}
.price-content  span {
    color: var(--text-black-900);
    font-size: 30px;
    font-weight: 600;
}
.price-content p {
    color: var(--text-black-600);
    font-size: 16px;
    font-weight: 500;
    padding: 10px 0px;
    margin: 0px 200px;
}
@media(max-width:600px){
    .price-content p {
        margin: 0px 60px;
    }
}
@media(max-width:320px){
    .price-content p {
        margin: 0px 20px;
    }
}
/* END OF PRICE-CONTENT */

/* PRICING */
.pricing {
    margin-top: 70px;
    text-align: center;
    padding: 0px 15px;
}
.pricing .pricing-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
}
.pricing .pricing-box-1 {
    padding: 30px;
}
.pricing .inner-shadow {
    padding: 12px;
}
.pricing .pricing-am {
    padding: 20px 0px;
    margin-bottom: 12px;
}
.pricing .pricing-am p {
    color: var(--text-black-600);
    font-size: 16px;
    font-weight: 500;
}
.pricing .pricing-am .bold {
    color: var(--text-black-900);
    font-size: 45px;
    font-weight: 800;
}
.pricing .pricing-am .mon {
    color: var(--text-black-600);
    font-size: 16px;
    font-weight: 500;
    margin-left: 7px;
}
.pricing .pricing-item {
    padding: 20px;
}
.pricing .pricing-item .pricing-item-para {
    padding: 10px 0px;
    font-weight: 500;
    font-size: 16px;
    color: var(--text-black-600);
}
.pricing .pricing-item-inner p {
    padding: 10px 0px;
    font-weight: 500;
    font-size: 16px;
    color: var(--text-black-600);
    border: 1px solid var(--bg-black-100);
    border-bottom: none;
}
.pricing .pricing-item-inner p:nth-child(1) {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}
.pricing .pricing-item-inner p:nth-child(5) {
    border-bottom: 1px solid var(--bg-black-100);
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}
.pricing .pricing-item-inner .color {
    color: var(--text-black-700);
    font-size: 18px;
    font-weight: 600;
}
.pricing .pricing-item a {
    border-radius: 5px;
    color: var(--text-black-900);
    margin-top: 25px;
}
.pricing .pricing-item a::after {
    border-radius: 5px;
}
.pricing .pricing-item i {
    border-radius: 5px;
    color: var(--skin-color);
    padding: 0px 8px 0px 0px;
}
@media(max-width:600px){
    .pricing .pricing-grid {
        grid-template-columns: 1fr;
        grid-row-gap: 30px;
    }
}
/* END OF PRICING */

.trust {
    margin-top: 60px;
    padding: 0px 15px;
}
.trust .trust-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.trust .trust-box-1 h1 {
    font-size: 60px;
    font-weight: 800;
    text-align: center;
    color: var(--text-black-900);
}
.trust .trust-box-1 p {
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    color: var(--text-black-600);
}
.trust .trust-box-2 p {
    font-size: 17px;
    font-weight: 500;
    margin-right: 50px;
    color: var(--text-black-600);
}
.trust .trust-box-2 p:nth-child(1){
    padding-bottom: 20px;
}
@media(max-width:600px){
    .trust .trust-grid {
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 30px;
    }
}

/* COMPANY */
.company{
    margin-top: 70px;
    text-align: center;
    padding: 0px 15px;
}
.company .company-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}
.company .company-box-1 {
    padding: 30px;
}
.company .company-box-1 img {
    width: 160px;
}
.company .company-box-1 p{
    font-size: 16px;
    font-weight: 500;
    padding: 15px 0px;
    color: var(--text-black-600);
}
.company .company-box-1 a{
    font-weight: 600;
    color: var(--text-black-700);
}
.company .company-box-1 i{
    font-size: 16px;
    color: var(--skin-color);
    padding-right: 5px;
}
@media(max-width:600px){
    .company .company-grid {
        grid-template-columns: repeat(1, 1fr);
    }
}

/* END OF COMPANY */
/* ACCORDION */
.accord {
    margin-top: 100px;
}
.accord .max-width{
    max-width: 600px;
    margin: auto;
}
.accord h1 {
    text-align: center;
    color: var(--text-black-600);
    font-size: 30px;
    font-weight: 500;
}
.accord span {
    color: var(--text-black-900);
    font-size: 30px;
    font-weight: 700;
}
.accord p {
    text-align: center;
    padding-bottom: 30px;
    color: var(--text-black-600);
    font-weight: 500;
    font-size: 16px;
}
.accord .accordion {
    width: 90%;
    max-width: 600px;
    margin: auto;
    border-radius: 6px;
}
.accord .accordion-item {
    border-bottom: 1px solid var(--bg-black-100);
}

.accord .accordion-item-header {
    padding: 0.5rem 3rem 0.5rem 1rem;
    min-height: 3.5rem;
    font-size: 17px;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    margin: 10px 0px;
    color: var(--text-black-900);
    font-weight: 500;
}

.accord .accordion-item-header::after {
    content: "\002b";
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    color: var(--text-black-700);
    right: 1rem;
    border-radius: 50px;
    padding: 5px 10px;
}

.accord .accordion-item-header.active::after {
    content: "\2212";
    color: var(--text-black-900);
    font-size: 20px;
    font-weight: bold;
}

.accord .accordion-item-body {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.accord .accordion-item-body-content {
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    padding: 1rem;
    margin: 10px 0px;
    border-radius: 15px;
    color: var(--text-black-600);
}

/* ABOUT-7 */
.about-7{
    padding: 10px 15px;
    margin-top: 90px;
}
.about-7 .about-7-content h2 {
    font-size: 25px;
    font-weight: 600;
    color: var(--text-black-700);
}

.about-7 .about-7-content p {
    font-size: 16px;
    font-weight: 500;
    color: var(--text-black-600);
    padding-bottom: 10px;
}

.about-7 form input {
    border: none;
    outline: none;
    padding: 10px 15px;
    width: 30%;
    font-size: 15px;
    font-weight: 500;
    border-radius: 6px;
    background: transparent;
    color: var(--text-black-900);
}

.about-7 form button {
    outline: none;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    font-weight: 500;
    margin-left: 50px;
    border-radius: 6px;
    cursor: pointer;
}

.about-7 form button::after {
    border-radius: 6px;
}

.about-7 .about-7-content .about-7-title {
    font-size: 16px;
    font-weight: 500;
    color: var(--text-black-600);
    padding-top: 20px;
}

.about-7 .about-7-content .about-7-title span {
    color: var(--text-black-900);
    font-weight: 500;
}

.about-1 {
    margin-top: 150px;
    margin-bottom: 10px;
}

/* END OF ABOUT-7 */
